<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-customer-heading"
        data-cy="CustomerCreateUpdateHeading"
        jhiTranslate="restoJhipsterJenkinsApp.customer.home.createOrEditLabel"
      >
        Create or edit a Customer
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="restoJhipsterJenkinsApp.customer.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="restoJhipsterJenkinsApp.customer.contactNumber" for="field_contactNumber"
            >Contact Number</label
          >
          <input
            type="text"
            class="form-control"
            name="contactNumber"
            id="field_contactNumber"
            data-cy="contactNumber"
            formControlName="contactNumber"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="restoJhipsterJenkinsApp.customer.orders" for="field_orders">Orders</label>
          <select class="form-control" id="field_orders" data-cy="orders" name="orders" formControlName="orders">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="orderOption.id === editForm.get('orders')!.value?.id ? editForm.get('orders')!.value : orderOption"
              *ngFor="let orderOption of ordersSharedCollection; trackBy: trackOrderById"
            >
              {{ orderOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
